node_modules
dist
*.tgz
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen
target
.che
.gen
*_mta_build_tmp
*.mtar
mta_archives
.DS_Store
*.orig
*.log
*.iml
*.flattened-pom.xml
@cds-models